name: Run core pytest

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
    paths:
      - "deepchem_server/core/**"
  workflow_dispatch:

jobs:
  run-core_pytest:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install --no-cache-dir -r deepchem_server/requirements.txt

      - name: Run tests
        run: pytest deepchem_server/core/tests
